.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 4px solid #ff7b00;
  background-color: #ff7b00;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  position: relative;
}

.p-top {
  background-color: #ff7b00;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

a {
  text-decoration: none;
}

.p-app-name {
  color: white;
  font-size: 10px;
  font-style: italic;
  margin-right: 5px;
}

.p-small-circle {
  border-radius: 50%;
  background-color: white;
  width: 7px;
  height: 7px;
  margin-right: 4px;
}


.p-img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}


.p-description {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ff7b00d3;
}

.p-description-text {
  font-size: 25px;
  color: white;
  padding: 25px;
}

.p:hover .p-description {
  opacity: 1;
}


@media screen and (max-width: 480px) {
  .p {
    width: 100%;
  }
}